# Write the SQL queries -Phase 2

# Table 1

Sno , Brandname, Category  , Producttype   ,ProductName    ,productcode  ,price

# 1)      Write a query to Retrieve the Top 20  Most Expensive Products

select distinct ProductName from table_1 order by price desc limit 20

# 2)      Write a query Calculate the Total Price for Each Category:

select category,sum(price) as total_price from table_1 group by category

# 3)      Write a query to Retrieve Products with a Price Range 2000 to 5000

select distinct(ProductName) from table_1 where price>2000 and price<5000

# 4)       Write a query to Calculate the Average Price for Each Brand .

In [ ]:
select brand,avg(price) as average_price from table_1 group by brand

# 5)       Write a query to find Products with Unique Brand-Category Combinations

select ProductName from table_1 where (brand,category) in (select distinct brand,category from table_1)

# Table 2

Sno , color1,color2,color3,color4 ,Weartype , Material type ,reviews

# 1)      Write a query Order Rows by Material Type in Ascending Order .

select * from table_2 order by material_type asc

# 2)      Write a query to Calculate the Average Number of Reviews

select avg(reviews) as avg_review from table_2

# 3)    Write a query to Retrieve the Top 30 Most Expensive Products by Weartype:

In [ ]:
select t1.ProductName,t2.weartype,t1.price from table_1 t1 join table_2 t2 where t1.SNo=t2.SNo order by t2.weartype,t1.price limit 30

# 4)      Write a query to Find Products with Similar Colors.

In [ ]:
select t2.color,string_agg(t1.Sno,',') as product_sim from table_1 t1 join table_2 t2 where t1.SNo=t2.SNo group by t2.color

# 5)      Write a query to Calculate the Total Price for Each Material Type.

select t2.material_type,sum(t1.price) as total_price from table_1 t1 join table_2 t2 where t1.SNo=t2.SNo group by t2.material_type

# Table 3

Sno, Size1, Size2, Size3, Size4,  Country of origin, return time ,occasion

# 1) Write a query to Order Rows by Return Time in Ascending Order.

In [ ]:
select * from table_3 order by return_time asc

# 2) Write a query to find distinct country of origin .

select distinct country from table_3

# 3) Write a query to Calculate the Average Return Time by Country of Origin.

select country,avg(return_time) from table_3 group by country

# 4) Write a query to Find Occasions with High Return Times.

select occasion,max(return_time) from table_3 group by occasion order by max(return_time) desc limit 1

# 5 ) Write a query to Retrieve Products with Multiple Sizes (Size1, Size2, Size3, Size4):

select * from table_3 where case when size1 is not null then 1 else 0 end +
case when size2 is not null then 1 else 0 end +
case when size3 is not null then 1 else 0 end +
case when size4 is not null then 1 else 0 end >1

# JOIN QUERY  using table1,table2 and table3

# 1)      Write a query  find Brandname, Category , Producttype ,ProductName  with a listed price greater than the average listed price in table 1.

select brandname,category,producttype,productname from table_1 join (select avg(price) as avg_price from table_1) avg_table on table_1.price>avg_table.avg_price

# 2) Write a query to list all Brandname, Category , Producttype ,ProductName   along with their corresponding color information from Table2

In [ ]:
select t1.brandname,t1.category,t1.producttype,t1.productname,t2.color1,t2.color2,t2.color3,t2.color4 from table_1 t1 join table_2 t2 on t1.Sno=t2.Sno

# 3)      Write a query to find the average reviews for each Producttype ,ProductName   using table 1 and table 2

In [ ]:
select t1.producttype,t1.productname,avg(t2.review) as avg_review from table_1 t1 join table_2 t2 on t1.Sno=t2.Sno groupby t1.producttype,t1.productname

# 4)     Write a query  to find products with a Product name, material type that matches the most common material type in (use table1 and table 2)

In [ ]:
select t2.material_type,t1.productname from table_1 t1 join 
table_2 join (select material_type, count(*) AS occurrences
from table_2
group by material_type
order by occurrences desc
limit 1) max_material where t1.SNo=t2.SNo and t2.material_type =max_material.material_type ;

# 5)  Write a query   to list all products  Weartype , Material type  along with their corresponding sizes from   (use table 2 and table 3)

In [ ]:
select t2.weartype,t2.material_type,t3.size_1.t3.size_2,t3.size_3,t3.size_4 from table_2 join table_3 t3 where t2.Sno=t3.Sno

# 6)Write a query  to find the average return time for each product type (use table1 and table 3)

In [ ]:
select t2.producttype,avg(t3.return_time) as avg_return_time from table_2 join table_3 t3 where t2.Sno=t3.Sno group by t2.producttype

# 7 Write a query to find Country of origin, return time ,occasion of each product type .(use table 1 and table 3)

In [ ]:
select t2.producttype,t3.country,t3.return_time,t3.occasion from table_2 join table_3 t3 where t2.Sno=t3.Sno